flows_raspberrypi.json
[{"id":"3c179cca.2a4534","type":"tab","label":"Board 1","disabled":false,"info":""},{"id":"97cf66d8.46eaa","type":"tab","label":"Board 2","disabled":false,"info":""},{"id":"e177ec09.d03c9","type":"tab","label":"Settings","disabled":false,"info":""},{"id":"99fe0028.b124d","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"2520a5c9.3a695a","type":"ui_group","name":"Board 1","tab":"3251fd86.15dcb2","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"32d4c2cc.b888ae","type":"mqtt-broker","name":"pi","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"3251fd86.15dcb2","type":"ui_tab","name":"Board 1","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"96e53887.bac02","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Smart Garden Technion","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"9d7ceb4c.99af68","type":"ui_group","name":"Calibration","tab":"3251fd86.15dcb2","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"dfe73a9b.c22998","type":"ui_spacer","z":"3c179cca.2a4534","name":"spacer","group":"2520a5c9.3a695a","order":6,"width":6,"height":1},{"id":"f67cd2d8.a7f72","type":"ui_spacer","z":"3c179cca.2a4534","name":"spacer","group":"2520a5c9.3a695a","order":8,"width":6,"height":1},{"id":"38dc7652.ce3ef2","type":"ui_tab","name":"settings","icon":"settings","order":7,"disabled":false,"hidden":false},{"id":"21bff06c.7f29d","type":"ui_group","name":"settings","tab":"38dc7652.ce3ef2","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"ba9fa863.fdbfa8","type":"ui_tab","name":"Board 2","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"fea3b96a.7dfaa","type":"ui_tab","name":"Board 3","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"d501d437.f918e","type":"ui_tab","name":"Board 4","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"906ff03f.37c59","type":"ui_tab","name":"Board 5","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"dff3eb6e.9ab698","type":"ui_tab","name":"Board 6","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"f816334f.f34788","type":"ui_group","name":"Board 2","tab":"ba9fa863.fdbfa8","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"a779bec2.fe38d","type":"ui_group","name":"Board 3","tab":"fea3b96a.7dfaa","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"f858a653.d71fa8","type":"ui_group","name":"Board 4","tab":"d501d437.f918e","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"302ec94c.e2f4be","type":"ui_group","name":"Board 5","tab":"906ff03f.37c59","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"b44c4b74.5f2c18","type":"ui_group","name":"Board 6","tab":"dff3eb6e.9ab698","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"e811ca05.9f6218","type":"ui_group","name":"Calibration","tab":"ba9fa863.fdbfa8","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"25e0ef39.1e3d2","type":"ui_group","name":"Calibration","tab":"fea3b96a.7dfaa","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"971e114d.ccf63","type":"ui_group","name":"Calibration","tab":"d501d437.f918e","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"8c9ed1fd.ab3dc8","type":"ui_group","name":"Calibration","tab":"906ff03f.37c59","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"c8e100b5.702838","type":"ui_group","name":"Calibration","tab":"dff3eb6e.9ab698","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"37a06ef.cd58512","type":"ui_button","z":"3c179cca.2a4534","name":"","group":"2520a5c9.3a695a","order":3,"width":0,"height":0,"passthru":false,"label":"{{msg.label}}","tooltip":"","color":"","bgcolor":"{{background}}","className":"","icon":"","payload":"true","payloadType":"bool","topic":"true","topicType":"msg","x":470,"y":680,"wires":[["8d3b7ee8.34178","50966402.d0fd8c"]]},{"id":"995f708f.2b7","type":"mqtt in","z":"3c179cca.2a4534","name":"","topic":"board/1/soil_moisture","qos":"2","datatype":"auto","broker":"32d4c2cc.b888ae","nl":false,"rap":true,"rh":0,"x":260,"y":980,"wires":[["47e3e229.b4270c"]]},{"id":"47e3e229.b4270c","type":"ui_gauge","z":"3c179cca.2a4534","name":"","group":"2520a5c9.3a695a","order":5,"width":"0","height":"0","gtype":"gage","title":"לחות אדמה","label":"% אחוזים","format":"{{value}}","min":0,"max":"100","colors":["#00364a","#008cb4","#53d5fd"],"seg1":"","seg2":"","className":"","x":540,"y":980,"wires":[]},{"id":"5b85bb9b.d0b3dc","type":"mqtt in","z":"3c179cca.2a4534","name":"","topic":"board/1/photoresistor","qos":"2","datatype":"auto","broker":"32d4c2cc.b888ae","nl":false,"rap":true,"rh":0,"x":270,"y":1080,"wires":[["581d70ce.6767d"]]},{"id":"581d70ce.6767d","type":"ui_gauge","z":"3c179cca.2a4534","name":"","group":"2520a5c9.3a695a","order":7,"width":0,"height":0,"gtype":"gage","title":"עוצמת אור","label":"% אחוזים","format":"{{value}}","min":0,"max":"100","colors":["#444444","#f5ec00","#fff995"],"seg1":"","seg2":"","className":"","x":540,"y":1080,"wires":[]},{"id":"b5b7a445.a2d628","type":"mqtt in","z":"3c179cca.2a4534","name":"","topic":"board/1/irigationOK","qos":"2","datatype":"auto","broker":"32d4c2cc.b888ae","nl":false,"rap":true,"rh":0,"x":230,"y":540,"wires":[["be9b77f4.df9ab8","40af1520.59f824","d17e28ff.1e3e7"]]},{"id":"be9b77f4.df9ab8","type":"change","z":"3c179cca.2a4534","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"end","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":540,"wires":[["8d3b7ee8.34178"]]},{"id":"8d3b7ee8.34178","type":"mqtt out","z":"3c179cca.2a4534","name":"","topic":"board/1/irigation","qos":"1","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"32d4c2cc.b888ae","x":680,"y":680,"wires":[]},{"id":"73b120d.c56176","type":"ui_toast","z":"3c179cca.2a4534","position":"top right","displayTime":"5","highlight":"green","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":true,"className":"","topic":"השקיה בוצעה","name":"השקיה בוצעה","x":810,"y":420,"wires":[]},{"id":"a4f594d.1094468","type":"template","z":"3c179cca.2a4534","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img src=\"/imgs/irigation.jpeg\" alt=\"irigation done\" width=\"100\" height=\"100\">","output":"str","x":640,"y":420,"wires":[["73b120d.c56176"]]},{"id":"1dc3de48.25c272","type":"ui_slider","z":"3c179cca.2a4534","name":"","label":"","tooltip":"","group":"2520a5c9.3a695a","order":11,"width":0,"height":0,"passthru":false,"outs":"end","topic":"payload","topicType":"msg","min":"1","max":"120","step":"1","className":"","x":410,"y":1540,"wires":[["dfd1b9a.361f948"]]},{"id":"dfd1b9a.361f948","type":"mqtt out","z":"3c179cca.2a4534","name":"","topic":"board/1/sleep","qos":"1","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"32d4c2cc.b888ae","x":660,"y":1540,"wires":[]},{"id":"8aec50c0.c59a8","type":"mqtt in","z":"3c179cca.2a4534","name":"","topic":"board/1/sleepOK","qos":"2","datatype":"auto","broker":"32d4c2cc.b888ae","nl":false,"rap":true,"rh":0,"x":220,"y":1420,"wires":[["253f9200.a3ac16","ab63bd2c.8f2488"]]},{"id":"253f9200.a3ac16","type":"change","z":"3c179cca.2a4534","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":1480,"wires":[["dfd1b9a.361f948"]]},{"id":"d02731e0.afad8","type":"ui_toast","z":"3c179cca.2a4534","position":"top right","displayTime":"5","highlight":"green","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":true,"className":"","topic":"זמן שינה עודכן","name":"זמן שינה עודכן","x":570,"y":1420,"wires":[]},{"id":"ab63bd2c.8f2488","type":"template","z":"3c179cca.2a4534","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"הזמן עודכן ל {{payload}}","output":"str","x":400,"y":1420,"wires":[["d02731e0.afad8"]]},{"id":"24f9d69e.578dd2","type":"ui_text","z":"3c179cca.2a4534","group":"2520a5c9.3a695a","order":10,"width":0,"height":0,"name":"","label":"תדירות דגימת נתונים בדקות","format":"{{msg.payload}}","layout":"row-center","className":"","x":250,"y":1340,"wires":[]},{"id":"69ed1d6a.bde91c","type":"mqtt in","z":"3c179cca.2a4534","name":"","topic":"board/1/calibration","qos":"2","datatype":"auto","broker":"32d4c2cc.b888ae","nl":false,"rap":true,"rh":0,"x":230,"y":1840,"wires":[["f1c803ec.b602c"]]},{"id":"f1c803ec.b602c","type":"switch","z":"3c179cca.2a4534","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"start","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":1840,"wires":[["d2af1078.89e3a8","cdfeda.2ad6b128","472e41f8.dadce","dda8beb4.8cc278"],[]]},{"id":"f6e0dcdb.02424","type":"ui_toast","z":"3c179cca.2a4534","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"בצע כיול","cancel":"בטל","raw":false,"className":"","topic":"זוהה מצב כיול","name":"זוהה מצב כיול","x":810,"y":1840,"wires":[]},{"id":"625faa10.f9ff7c","type":"mqtt out","z":"3c179cca.2a4534","name":"","topic":"board/1/calibration","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"32d4c2cc.b888ae","x":1210,"y":1780,"wires":[]},{"id":"4b670073.8e03e8","type":"template","z":"3c179cca.2a4534","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<p style=\"text-align: right;\">נקה את החיישן, יבש אותו ולחץ המשך","output":"str","x":700,"y":2280,"wires":[["e7ed9d2.4c5206"]]},{"id":"e7ed9d2.4c5206","type":"ui_toast","z":"3c179cca.2a4534","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"המשך","cancel":"","raw":true,"className":"","topic":"כיול חיישן לחות אדמה","name":"חיישן לחות אדמה יבש","x":870,"y":2280,"wires":[["1da3ed91.a6fc72"]]},{"id":"1da3ed91.a6fc72","type":"change","z":"3c179cca.2a4534","name":"בקש כיול יבש","rules":[{"t":"set","p":"payload","pt":"msg","to":"dry","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":2280,"wires":[["c362cac8.80981"]]},{"id":"c362cac8.80981","type":"mqtt out","z":"3c179cca.2a4534","name":"","topic":"board/1/soil_moisture_calibration","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"32d4c2cc.b888ae","x":1420,"y":2340,"wires":[]},{"id":"ace5ac8d.31ea8","type":"mqtt in","z":"3c179cca.2a4534","name":"","topic":"board/1/soil_moisture_calibration","qos":"2","datatype":"auto","broker":"32d4c2cc.b888ae","nl":false,"rap":true,"rh":0,"x":290,"y":2400,"wires":[["db50d53f.5f08b8"]]},{"id":"e4b05810.83b9d8","type":"change","z":"3c179cca.2a4534","name":"בקש כיול רטוב","rules":[{"t":"set","p":"payload","pt":"msg","to":"wet","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":2400,"wires":[["c362cac8.80981"]]},{"id":"f2196c2e.d6af2","type":"template","z":"3c179cca.2a4534","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"הכנס את החיישן לכוס מים ולחץ המשך","output":"str","x":700,"y":2400,"wires":[["ab5fd260.72c0d8"]]},{"id":"ab5fd260.72c0d8","type":"ui_toast","z":"3c179cca.2a4534","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"המשך","cancel":"","raw":true,"className":"","topic":"כיול חיישן לחות אדמה","name":"חיישן לחות אדמה רטוב","x":880,"y":2400,"wires":[["e4b05810.83b9d8"]]},{"id":"db50d53f.5f08b8","type":"switch","z":"3c179cca.2a4534","name":"","property":"payload","propertyType":"msg","rules":[{"t":"else"},{"t":"eq","v":"dryOK","vt":"str"},{"t":"eq","v":"wetOK","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":530,"y":2400,"wires":[[],["f2196c2e.d6af2"],["70787848.59886","35ee2473.bf215c"]]},{"id":"f5e0ccf2.26cd6","type":"template","z":"3c179cca.2a4534","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"כיול חיישן לחות אדמה בוצע בהצלחה","output":"str","x":940,"y":2460,"wires":[["f6dbd600.3725e8"]]},{"id":"f6dbd600.3725e8","type":"ui_toast","z":"3c179cca.2a4534","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":true,"className":"","topic":"","name":"","x":1110,"y":2460,"wires":[]},{"id":"57f06fa7.c5da08","type":"ui_button","z":"3c179cca.2a4534","name":"בצע כיולים","group":"9d7ceb4c.99af68","order":1,"width":"6","height":1,"passthru":false,"label":"{{msg.label}}","tooltip":"","color":"","bgcolor":"{{background}}","className":"","icon":"","payload":"end","payloadType":"str","topic":"topic","topicType":"msg","x":680,"y":1980,"wires":[["272ea127.daa64e"]]},{"id":"29ab6afd.1339fe","type":"ui_button","z":"3c179cca.2a4534","name":"","group":"9d7ceb4c.99af68","order":5,"width":0,"height":0,"passthru":false,"label":"כיול חיישן לחות אדמה","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"soil_moisture_calibration","payloadType":"str","topic":"topic","topicType":"msg","x":390,"y":2280,"wires":[["4b670073.8e03e8","beeca080.a83478"]]},{"id":"498e85a5.14d6ec","type":"inject","z":"3c179cca.2a4534","name":"","props":[{"p":"label","v":"השקיה","vt":"str"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payloadType":"str","x":310,"y":680,"wires":[["37a06ef.cd58512"]]},{"id":"50966402.d0fd8c","type":"change","z":"3c179cca.2a4534","name":"פקודה נשלחה","rules":[{"t":"set","p":"background","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"label","pt":"msg","to":"פקודת השקיה נשלחה","tot":"str"},{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":760,"wires":[["37a06ef.cd58512"]]},{"id":"40af1520.59f824","type":"change","z":"3c179cca.2a4534","name":"פקודה בוצעה","rules":[{"t":"set","p":"background","pt":"msg","to":"green","tot":"str"},{"t":"set","p":"label","pt":"msg","to":"הפקודה בוצעה","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":620,"wires":[["37a06ef.cd58512","4d283e95.1a9648"]]},{"id":"4d283e95.1a9648","type":"delay","z":"3c179cca.2a4534","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":650,"y":620,"wires":[["1d7a0b9d.c6702c"]]},{"id":"1d7a0b9d.c6702c","type":"change","z":"3c179cca.2a4534","name":"החזרת כפתור למצב התחלתי","rules":[{"t":"set","p":"background","pt":"msg","to":"default","tot":"str"},{"t":"set","p":"label","pt":"msg","to":"השקיה","tot":"str"},{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":620,"wires":[["37a06ef.cd58512"]]},{"id":"beeca080.a83478","type":"link out","z":"3c179cca.2a4534","name":"disable buttons","links":["75dd3e40.627d2"],"x":555,"y":2220,"wires":[]},{"id":"75dd3e40.627d2","type":"link in","z":"3c179cca.2a4534","name":"","links":["beeca080.a83478","2aa12071.09f2c8","a9830fc1.9772d8","7d62a3ac.ae8b64","321b8f3.624c27"],"x":1955,"y":2040,"wires":[["7b5d471c.26afa"]]},{"id":"e088c893.0828d8","type":"link in","z":"3c179cca.2a4534","name":"","links":["32caa9e3.2e18c6","ef932f87.c4fb18"],"x":235,"y":2280,"wires":[["29ab6afd.1339fe"]]},{"id":"32caa9e3.2e18c6","type":"link out","z":"3c179cca.2a4534","name":"","links":["e088c893.0828d8","975b905b.ea6e88","cc381bc6.685fb"],"x":2245,"y":2040,"wires":[]},{"id":"7b5d471c.26afa","type":"change","z":"3c179cca.2a4534","name":"ביטול כפתורים","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2090,"y":2040,"wires":[["32caa9e3.2e18c6"]]},{"id":"d44288d1.933b5","type":"link in","z":"3c179cca.2a4534","name":"","links":["35ee2473.bf215c","cdfeda.2ad6b128","ee7aaff0.73b448"],"x":1955,"y":2120,"wires":[["a47fd625.f3223"]]},{"id":"ef932f87.c4fb18","type":"link out","z":"3c179cca.2a4534","name":"","links":["e088c893.0828d8","975b905b.ea6e88","cc381bc6.685fb"],"x":2245,"y":2120,"wires":[]},{"id":"a47fd625.f3223","type":"change","z":"3c179cca.2a4534","name":"החזרת כפתורים","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2100,"y":2120,"wires":[["ef932f87.c4fb18"]]},{"id":"35ee2473.bf215c","type":"link out","z":"3c179cca.2a4534","name":"","links":["d44288d1.933b5"],"x":675,"y":2500,"wires":[]},{"id":"953d6c33.aebfd","type":"mqtt in","z":"3c179cca.2a4534","name":"","topic":"board/1/comOK","qos":"2","datatype":"auto","broker":"32d4c2cc.b888ae","nl":false,"rap":true,"rh":0,"x":220,"y":160,"wires":[["462ee3ba.6a3cc4","2e7bfc56.19df0c"]]},{"id":"25580567.b1cc32","type":"ui_led","z":"3c179cca.2a4534","order":1,"group":"2520a5c9.3a695a","width":0,"height":0,"label":"תקשורת עם יחידת הקצה","labelPlacement":"right","labelAlignment":"right","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":770,"y":160,"wires":[]},{"id":"462ee3ba.6a3cc4","type":"change","z":"3c179cca.2a4534","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":100,"wires":[["25580567.b1cc32"]]},{"id":"32427ce2.c0870c","type":"function","z":"3c179cca.2a4534","name":"","func":"var timer = context.timer || null;\n\n// If existig timer then clear out old timeout\nif (timer !== null) {\n    clearTimeout(timer);\n}\n\n// set up new timeout using msg.timeout (S) as the time\nif (msg.timeout) {   // but only if msg.timeout exists\n    timer = setTimeout(function() {\n        node.send({payload:false});\n    }, msg.timeout * 1000);\n}\n// save the new timeout and return nothing.\ncontext.timer = timer;\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":200,"wires":[["25580567.b1cc32"]]},{"id":"2e7bfc56.19df0c","type":"change","z":"3c179cca.2a4534","name":"","rules":[{"t":"set","p":"timeout","pt":"msg","to":"timeout","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":200,"wires":[["32427ce2.c0870c"]]},{"id":"393854b3.be3ebc","type":"function","z":"3c179cca.2a4534","name":"","func":"var time = msg.payload\ntime = time * 2\nmsg.payload = time\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":1620,"wires":[["7f368180.73c89"]]},{"id":"7f368180.73c89","type":"change","z":"3c179cca.2a4534","name":"","rules":[{"t":"set","p":"timeout","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1620,"wires":[[]]},{"id":"73f405dc.ed72d4","type":"mqtt in","z":"3c179cca.2a4534","name":"","topic":"board/1/sleepTime","qos":"2","datatype":"auto","broker":"32d4c2cc.b888ae","nl":false,"rap":true,"rh":0,"x":240,"y":1540,"wires":[["1dc3de48.25c272","393854b3.be3ebc"]]},{"id":"d641669d.936528","type":"ui_switch","z":"e177ec09.d03c9","name":"","label":"Board 1","tooltip":"","group":"21bff06c.7f29d","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":1440,"y":220,"wires":[["3c4bb094.10a2d"]]},{"id":"64817800.0b7108","type":"inject","z":"3c179cca.2a4534","name":"אתחול","props":[{"p":"label","v":"בצע כיול","vt":"str"},{"p":"background","v":"default","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":470,"y":1980,"wires":[["57f06fa7.c5da08"]]},{"id":"198fa5fd.117d0a","type":"inject","z":"3c179cca.2a4534","name":"אתחול","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":2010,"y":1960,"wires":[["a9830fc1.9772d8"]]},{"id":"a9830fc1.9772d8","type":"link out","z":"3c179cca.2a4534","name":"","links":["75dd3e40.627d2"],"x":2135,"y":1960,"wires":[]},{"id":"9d4211a2.336df","type":"ui_toast","z":"3c179cca.2a4534","position":"top right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"לחץ על כפתור הכיולים בעמדת הקצה כדי להתחיל כיול","name":"הוראות התחלת כיול","x":1350,"y":2020,"wires":[]},{"id":"a4b13566.8ae3b8","type":"change","z":"3c179cca.2a4534","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":" ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":2020,"wires":[["9d4211a2.336df"]]},{"id":"d2af1078.89e3a8","type":"change","z":"3c179cca.2a4534","name":"הפוך כפתור ל״צא ממצב כיול״","rules":[{"t":"set","p":"background","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"label","pt":"msg","to":"צא ממצב כיול","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":1920,"wires":[["57f06fa7.c5da08"]]},{"id":"cdfeda.2ad6b128","type":"link out","z":"3c179cca.2a4534","name":"","links":["d44288d1.933b5"],"x":555,"y":1720,"wires":[]},{"id":"272ea127.daa64e","type":"switch","z":"3c179cca.2a4534","name":"","property":"calibration","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":910,"y":1980,"wires":[["625faa10.f9ff7c","c750c0f0.99d1d8","7d62a3ac.ae8b64","4797d22d.6ac21c"],["a4b13566.8ae3b8"]]},{"id":"472e41f8.dadce","type":"change","z":"3c179cca.2a4534","name":"","rules":[{"t":"set","p":"calibration","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":1780,"wires":[[]]},{"id":"4797d22d.6ac21c","type":"change","z":"3c179cca.2a4534","name":"","rules":[{"t":"set","p":"calibration","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":1960,"wires":[[]]},{"id":"654db078.ede5c","type":"inject","z":"3c179cca.2a4534","name":"אתחול","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1130,"y":1900,"wires":[["4797d22d.6ac21c"]]},{"id":"c750c0f0.99d1d8","type":"change","z":"3c179cca.2a4534","name":"החזר כפתור למצב התחלתי","rules":[{"t":"set","p":"background","pt":"msg","to":"default","tot":"str"},{"t":"set","p":"label","pt":"msg","to":"בצע כיול","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":2040,"wires":[["57f06fa7.c5da08"]]},{"id":"7d62a3ac.ae8b64","type":"link out","z":"3c179cca.2a4534","name":"","links":["75dd3e40.627d2"],"x":1055,"y":1700,"wires":[]},{"id":"dda8beb4.8cc278","type":"change","z":"3c179cca.2a4534","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":" ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":1840,"wires":[["f6e0dcdb.02424"]]},{"id":"70787848.59886","type":"change","z":"3c179cca.2a4534","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":" ","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":" ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":2460,"wires":[["f5e0ccf2.26cd6"]]},{"id":"9c35ceee.b89498","type":"template","z":"3c179cca.2a4534","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<p style=\"text-align: right;\">כסה את החיישן כך שיהיה בחשיכה מוחלטת, לחץ המשך</p>","output":"str","x":640,"y":2760,"wires":[["1ff7dcdc.1eb1cb"]]},{"id":"1ff7dcdc.1eb1cb","type":"ui_toast","z":"3c179cca.2a4534","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"המשך","cancel":"","raw":true,"className":"","topic":"כיול חיישן אור","name":"כיול חשוך","x":800,"y":2760,"wires":[["c36c79d.fb84408"]]},{"id":"c36c79d.fb84408","type":"change","z":"3c179cca.2a4534","name":"בקש כיול חושך","rules":[{"t":"set","p":"payload","pt":"msg","to":"dark","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":2760,"wires":[["7649061e.88b4a"]]},{"id":"7649061e.88b4a","type":"mqtt out","z":"3c179cca.2a4534","name":"","topic":"board/1/light_calibration","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"32d4c2cc.b888ae","x":1330,"y":2820,"wires":[]},{"id":"c0b76d06.2756b8","type":"mqtt in","z":"3c179cca.2a4534","name":"","topic":"board/1/light_calibration","qos":"2","datatype":"auto","broker":"32d4c2cc.b888ae","nl":false,"rap":true,"rh":0,"x":210,"y":2880,"wires":[["b7ca22d2.0da758"]]},{"id":"3a5b3d01.22fe02","type":"change","z":"3c179cca.2a4534","name":"בקש כיול מואר","rules":[{"t":"set","p":"payload","pt":"msg","to":"light","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":2880,"wires":[["7649061e.88b4a"]]},{"id":"f63127fd.78fb08","type":"template","z":"3c179cca.2a4534","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"חשוף את החיישן לתאורה חזקה ולחץ המשך","output":"str","x":640,"y":2880,"wires":[["a9dcf276.b76c5"]]},{"id":"a9dcf276.b76c5","type":"ui_toast","z":"3c179cca.2a4534","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"המשך","cancel":"","raw":true,"className":"","topic":"כיול חיישן אור","name":"כיול מואר","x":820,"y":2880,"wires":[["3a5b3d01.22fe02"]]},{"id":"b7ca22d2.0da758","type":"switch","z":"3c179cca.2a4534","name":"","property":"payload","propertyType":"msg","rules":[{"t":"else"},{"t":"eq","v":"darkOK","vt":"str"},{"t":"eq","v":"lightOK","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":470,"y":2880,"wires":[[],["f63127fd.78fb08"],["404a0384.200a64","ee7aaff0.73b448"]]},{"id":"43568b5f.d40294","type":"template","z":"3c179cca.2a4534","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"כיול חיישן אור בוצע בהצלחה","output":"str","x":880,"y":2940,"wires":[["729d4ce2.735f14"]]},{"id":"729d4ce2.735f14","type":"ui_toast","z":"3c179cca.2a4534","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":true,"className":"","topic":"","name":"","x":1050,"y":2940,"wires":[]},{"id":"7efdde44.a3017","type":"ui_button","z":"3c179cca.2a4534","name":"","group":"9d7ceb4c.99af68","order":5,"width":0,"height":0,"passthru":false,"label":"כיול חיישן אור","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"soil_moisture_calibration","payloadType":"str","topic":"topic","topicType":"msg","x":310,"y":2760,"wires":[["9c35ceee.b89498","321b8f3.624c27"]]},{"id":"321b8f3.624c27","type":"link out","z":"3c179cca.2a4534","name":"disable buttons","links":["75dd3e40.627d2"],"x":495,"y":2700,"wires":[]},{"id":"cc381bc6.685fb","type":"link in","z":"3c179cca.2a4534","name":"","links":["32caa9e3.2e18c6","ef932f87.c4fb18"],"x":175,"y":2760,"wires":[["7efdde44.a3017"]]},{"id":"ee7aaff0.73b448","type":"link out","z":"3c179cca.2a4534","name":"","links":["d44288d1.933b5"],"x":615,"y":2980,"wires":[]},{"id":"404a0384.200a64","type":"change","z":"3c179cca.2a4534","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":" ","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":" ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":2940,"wires":[["43568b5f.d40294"]]},{"id":"5508ac20.b99414","type":"file in","z":"e177ec09.d03c9","name":"","filename":"/home/pi/.node-red/static/config/config.xml","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":250,"y":740,"wires":[["a01dd657.cda62"]]},{"id":"43d45eea.62f0e","type":"inject","z":"e177ec09.d03c9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":680,"wires":[["5508ac20.b99414"]]},{"id":"a01dd657.cda62","type":"xml","z":"e177ec09.d03c9","name":"","property":"payload","attr":"","chr":"","x":490,"y":740,"wires":[["a271bd6b.42dcc8","8e489f23.3b0ae","213a1a5e.07ae6e","be7ae35.f68312","e55a1497.9e43d","4036f4e1.74d074"]]},{"id":"a271bd6b.42dcc8","type":"function","z":"e177ec09.d03c9","name":"","func":"let active = msg.payload.boards.board[0].active[0]\nmsg.payload = active;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":833.7499847412109,"y":229.99999523162842,"wires":[["2505f303.0baa24"]]},{"id":"2505f303.0baa24","type":"switch","z":"e177ec09.d03c9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":993.7499847412109,"y":229.99999523162842,"wires":[["a99c6b5b.a6b9c8"],["a990d5ed.605b98"]]},{"id":"a99c6b5b.a6b9c8","type":"change","z":"e177ec09.d03c9","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1193.749984741211,"y":189.99999523162842,"wires":[["d641669d.936528"]]},{"id":"a990d5ed.605b98","type":"change","z":"e177ec09.d03c9","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1193.749984741211,"y":249.99999523162842,"wires":[["d641669d.936528"]]},{"id":"b4549b85.5d026","type":"ui_switch","z":"e177ec09.d03c9","name":"","label":"Board 2","tooltip":"","group":"21bff06c.7f29d","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":1440,"y":600,"wires":[["104b7bff.0ae244"]]},{"id":"8e489f23.3b0ae","type":"function","z":"e177ec09.d03c9","name":"","func":"let active = msg.payload.boards.board[1].active[0]\nmsg.payload = active;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":833.7499847412109,"y":609.9999952316284,"wires":[["c142139.d53fc7"]]},{"id":"c142139.d53fc7","type":"switch","z":"e177ec09.d03c9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":993.7499847412109,"y":609.9999952316284,"wires":[["4076401.a74cac"],["3161f4c1.f7e834"]]},{"id":"4076401.a74cac","type":"change","z":"e177ec09.d03c9","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1193.749984741211,"y":569.9999952316284,"wires":[["b4549b85.5d026"]]},{"id":"3161f4c1.f7e834","type":"change","z":"e177ec09.d03c9","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1193.749984741211,"y":629.9999952316284,"wires":[["b4549b85.5d026"]]},{"id":"2d442593.e01912","type":"ui_switch","z":"e177ec09.d03c9","name":"","label":"Board 3","tooltip":"","group":"21bff06c.7f29d","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":1440,"y":1060,"wires":[["2f40787b.30bb78"]]},{"id":"213a1a5e.07ae6e","type":"function","z":"e177ec09.d03c9","name":"","func":"let active = msg.payload.boards.board[2].active[0]\nmsg.payload = active;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":833.7499847412109,"y":1069.9999952316284,"wires":[["da8821ed.e9609"]]},{"id":"da8821ed.e9609","type":"switch","z":"e177ec09.d03c9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":993.7499847412109,"y":1069.9999952316284,"wires":[["aa7c7b07.06c59"],["d9dd7331.702678"]]},{"id":"aa7c7b07.06c59","type":"change","z":"e177ec09.d03c9","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1193.749984741211,"y":1029.9999952316284,"wires":[["2d442593.e01912"]]},{"id":"d9dd7331.702678","type":"change","z":"e177ec09.d03c9","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1193.749984741211,"y":1089.9999952316284,"wires":[["2d442593.e01912"]]},{"id":"d75ebb93.8d424","type":"ui_switch","z":"e177ec09.d03c9","name":"","label":"Board 4","tooltip":"","group":"21bff06c.7f29d","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":1440,"y":1500,"wires":[["f192ffb7.45367"]]},{"id":"be7ae35.f68312","type":"function","z":"e177ec09.d03c9","name":"","func":"let active = msg.payload.boards.board[3].active[0]\nmsg.payload = active;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":833.7499847412109,"y":1509.9999952316284,"wires":[["185722c3.59c795"]]},{"id":"185722c3.59c795","type":"switch","z":"e177ec09.d03c9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":993.7499847412109,"y":1509.9999952316284,"wires":[["e299a623.9556c"],["aad685e6.ea7528"]]},{"id":"e299a623.9556c","type":"change","z":"e177ec09.d03c9","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1193.749984741211,"y":1469.9999952316284,"wires":[["d75ebb93.8d424"]]},{"id":"aad685e6.ea7528","type":"change","z":"e177ec09.d03c9","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1193.749984741211,"y":1529.9999952316284,"wires":[["d75ebb93.8d424"]]},{"id":"da73f1a3.c78eb8","type":"ui_switch","z":"e177ec09.d03c9","name":"","label":"Board 5","tooltip":"","group":"21bff06c.7f29d","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":1440,"y":2080,"wires":[["4bddb288.0a6864"]]},{"id":"e55a1497.9e43d","type":"function","z":"e177ec09.d03c9","name":"","func":"let active = msg.payload.boards.board[4].active[0]\nmsg.payload = active;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":833.7499847412109,"y":2089.9999952316284,"wires":[["a64ece0d.49e7a8"]]},{"id":"a64ece0d.49e7a8","type":"switch","z":"e177ec09.d03c9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":993.7499847412109,"y":2089.9999952316284,"wires":[["94b3ca12.795118"],["da0de7c0.d47848"]]},{"id":"94b3ca12.795118","type":"change","z":"e177ec09.d03c9","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1193.749984741211,"y":2049.9999952316284,"wires":[["da73f1a3.c78eb8"]]},{"id":"da0de7c0.d47848","type":"change","z":"e177ec09.d03c9","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1193.749984741211,"y":2109.9999952316284,"wires":[["da73f1a3.c78eb8"]]},{"id":"3c458424.7d12f4","type":"ui_switch","z":"e177ec09.d03c9","name":"","label":"Board 6","tooltip":"","group":"21bff06c.7f29d","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":1400,"y":2560,"wires":[["7a4bef8f.c63448"]]},{"id":"4036f4e1.74d074","type":"function","z":"e177ec09.d03c9","name":"","func":"let active = msg.payload.boards.board[5].active[0]\nmsg.payload = active;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":793.7499847412109,"y":2569.9999952316284,"wires":[["72bc483d.6b499"]]},{"id":"72bc483d.6b499","type":"switch","z":"e177ec09.d03c9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":953.7499847412109,"y":2569.9999952316284,"wires":[["a2c9db4d.01f9"],["55e32b04.28ab0c"]]},{"id":"a2c9db4d.01f9","type":"change","z":"e177ec09.d03c9","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1153.749984741211,"y":2529.9999952316284,"wires":[["3c458424.7d12f4"]]},{"id":"55e32b04.28ab0c","type":"change","z":"e177ec09.d03c9","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1153.749984741211,"y":2589.9999952316284,"wires":[["3c458424.7d12f4"]]},{"id":"3c4bb094.10a2d","type":"switch","z":"e177ec09.d03c9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1610,"y":220,"wires":[["cd7f177c.082fb8","76da403c.88786"],["13fe7557.5dea9b","977e9ed1.000d4"]]},{"id":"cd7f177c.082fb8","type":"file in","z":"e177ec09.d03c9","name":"","filename":"/home/pi/.node-red/static/config/config.xml","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":1950,"y":180,"wires":[["63d79173.0a5098"]]},{"id":"63d79173.0a5098","type":"xml","z":"e177ec09.d03c9","name":"","property":"payload","attr":"","chr":"","x":2210,"y":180,"wires":[["900eef0a.da6f8"]]},{"id":"900eef0a.da6f8","type":"function","z":"e177ec09.d03c9","name":"","func":"msg.payload.boards.board[0].active[0] = 'true'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2380,"y":180,"wires":[["331b76e4.fd2d92"]]},{"id":"331b76e4.fd2d92","type":"xml","z":"e177ec09.d03c9","name":"","property":"payload","attr":"","chr":"","x":2540,"y":180,"wires":[["2e88aa0f.59d9b6"]]},{"id":"2e88aa0f.59d9b6","type":"file","z":"e177ec09.d03c9","name":"","filename":"/home/pi/.node-red/static/config/config.xml","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":2800,"y":180,"wires":[[]]},{"id":"13fe7557.5dea9b","type":"file in","z":"e177ec09.d03c9","name":"","filename":"/home/pi/.node-red/static/config/config.xml","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":1950,"y":260,"wires":[["e416c7e6.a52818"]]},{"id":"e416c7e6.a52818","type":"xml","z":"e177ec09.d03c9","name":"","property":"payload","attr":"","chr":"","x":2210,"y":260,"wires":[["b3aee323.f1183"]]},{"id":"b3aee323.f1183","type":"function","z":"e177ec09.d03c9","name":"","func":"msg.payload.boards.board[0].active[0] = 'false'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2380,"y":260,"wires":[["e2b83aa4.615d18"]]},{"id":"e2b83aa4.615d18","type":"xml","z":"e177ec09.d03c9","name":"","property":"payload","attr":"","chr":"","x":2540,"y":260,"wires":[["ba99a92d.2ec588"]]},{"id":"ba99a92d.2ec588","type":"file","z":"e177ec09.d03c9","name":"","filename":"/home/pi/.node-red/static/config/config.xml","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":2800,"y":260,"wires":[[]]},{"id":"3edf1137.235d5e","type":"ui_ui_control","z":"e177ec09.d03c9","name":"","events":"all","x":1960,"y":320,"wires":[[]]},{"id":"977e9ed1.000d4","type":"change","z":"e177ec09.d03c9","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tabs\":{\"hide\":[\"Board_1\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1780,"y":320,"wires":[["3edf1137.235d5e"]]},{"id":"76da403c.88786","type":"change","z":"e177ec09.d03c9","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tabs\":{\"show\":[\"Board_1\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1780,"y":120,"wires":[["c6e8968e.050b"]]},{"id":"c6e8968e.050b","type":"ui_ui_control","z":"e177ec09.d03c9","name":"","events":"all","x":1960,"y":120,"wires":[[]]},{"id":"104b7bff.0ae244","type":"switch","z":"e177ec09.d03c9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1610,"y":600,"wires":[["229b068a.7d2bf2","a5ec6eb3.ceeac"],["225a254.23dcc5a","92cef3f6.9c6ad"]]},{"id":"229b068a.7d2bf2","type":"file in","z":"e177ec09.d03c9","name":"","filename":"/home/pi/.node-red/static/config/config.xml","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":1950,"y":560,"wires":[["11bdd431.a7af5c"]]},{"id":"11bdd431.a7af5c","type":"xml","z":"e177ec09.d03c9","name":"","property":"payload","attr":"","chr":"","x":2210,"y":560,"wires":[["2acf0da5.0e672a"]]},{"id":"2acf0da5.0e672a","type":"function","z":"e177ec09.d03c9","name":"","func":"msg.payload.boards.board[1].active[0] = 'true'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2380,"y":560,"wires":[["4f201630.91d958"]]},{"id":"4f201630.91d958","type":"xml","z":"e177ec09.d03c9","name":"","property":"payload","attr":"","chr":"","x":2540,"y":560,"wires":[["f7192a91.296398"]]},{"id":"f7192a91.296398","type":"file","z":"e177ec09.d03c9","name":"","filename":"/home/pi/.node-red/static/config/config.xml","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":2800,"y":560,"wires":[[]]},{"id":"225a254.23dcc5a","type":"file in","z":"e177ec09.d03c9","name":"","filename":"/home/pi/.node-red/static/config/config.xml","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":1950,"y":640,"wires":[["40233c3f.82faf4"]]},{"id":"40233c3f.82faf4","type":"xml","z":"e177ec09.d03c9","name":"","property":"payload","attr":"","chr":"","x":2210,"y":640,"wires":[["e729e7bc.3339e8"]]},{"id":"e729e7bc.3339e8","type":"function","z":"e177ec09.d03c9","name":"","func":"msg.payload.boards.board[1].active[0] = 'false'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2380,"y":640,"wires":[["70fb251.234cadc"]]},{"id":"70fb251.234cadc","type":"xml","z":"e177ec09.d03c9","name":"","property":"payload","attr":"","chr":"","x":2540,"y":640,"wires":[["ff29a16a.3131a"]]},{"id":"ff29a16a.3131a","type":"file","z":"e177ec09.d03c9","name":"","filename":"/home/pi/.node-red/static/config/config.xml","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":2800,"y":640,"wires":[[]]},{"id":"7f1b63e0.7e379c","type":"ui_ui_control","z":"e177ec09.d03c9","name":"","events":"all","x":1960,"y":700,"wires":[[]]},{"id":"92cef3f6.9c6ad","type":"change","z":"e177ec09.d03c9","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tabs\":{\"hide\":[\"Board_2\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1780,"y":700,"wires":[["7f1b63e0.7e379c"]]},{"id":"a5ec6eb3.ceeac","type":"change","z":"e177ec09.d03c9","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tabs\":{\"show\":[\"Board_2\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1780,"y":500,"wires":[["6d2b841d.a52004"]]},{"id":"6d2b841d.a52004","type":"ui_ui_control","z":"e177ec09.d03c9","name":"","events":"all","x":1960,"y":500,"wires":[[]]},{"id":"2f40787b.30bb78","type":"switch","z":"e177ec09.d03c9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1610,"y":1060,"wires":[["76a4f93d.a9987","dc132aaf.52705"],["fd897d4f.0e60f","34c24015.a59ba"]]},{"id":"76a4f93d.a9987","type":"file in","z":"e177ec09.d03c9","name":"","filename":"/home/pi/.node-red/static/config/config.xml","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":1950,"y":1020,"wires":[["5c0f47a2.77b35"]]},{"id":"5c0f47a2.77b35","type":"xml","z":"e177ec09.d03c9","name":"","property":"payload","attr":"","chr":"","x":2210,"y":1020,"wires":[["4c1a474d.f678b"]]},{"id":"4c1a474d.f678b","type":"function","z":"e177ec09.d03c9","name":"","func":"msg.payload.boards.board[2].active[0] = 'true'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2380,"y":1020,"wires":[["22ac3737.ba4ef8"]]},{"id":"22ac3737.ba4ef8","type":"xml","z":"e177ec09.d03c9","name":"","property":"payload","attr":"","chr":"","x":2540,"y":1020,"wires":[["bdb6cde3.76a6a8"]]},{"id":"bdb6cde3.76a6a8","type":"file","z":"e177ec09.d03c9","name":"","filename":"/home/pi/.node-red/static/config/config.xml","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":2800,"y":1020,"wires":[[]]},{"id":"fd897d4f.0e60f","type":"file in","z":"e177ec09.d03c9","name":"","filename":"/home/pi/.node-red/static/config/config.xml","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":1950,"y":1100,"wires":[["3215aa5d.b2cbce"]]},{"id":"3215aa5d.b2cbce","type":"xml","z":"e177ec09.d03c9","name":"","property":"payload","attr":"","chr":"","x":2210,"y":1100,"wires":[["eb3bf791.983cf"]]},{"id":"eb3bf791.983cf","type":"function","z":"e177ec09.d03c9","name":"","func":"msg.payload.boards.board[2].active[0] = 'false'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2380,"y":1100,"wires":[["ec1b10e7.4d4808"]]},{"id":"ec1b10e7.4d4808","type":"xml","z":"e177ec09.d03c9","name":"","property":"payload","attr":"","chr":"","x":2540,"y":1100,"wires":[["adbd5812.14fc18"]]},{"id":"adbd5812.14fc18","type":"file","z":"e177ec09.d03c9","name":"","filename":"/home/pi/.node-red/static/config/config.xml","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":2800,"y":1100,"wires":[[]]},{"id":"a4ae492b.a64848","type":"ui_ui_control","z":"e177ec09.d03c9","name":"","events":"all","x":1960,"y":1160,"wires":[[]]},{"id":"34c24015.a59ba","type":"change","z":"e177ec09.d03c9","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tabs\":{\"hide\":[\"Board_3\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1780,"y":1160,"wires":[["a4ae492b.a64848"]]},{"id":"dc132aaf.52705","type":"change","z":"e177ec09.d03c9","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tabs\":{\"show\":[\"Board_3\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1780,"y":960,"wires":[["945b3a32.912a7"]]},{"id":"945b3a32.912a7","type":"ui_ui_control","z":"e177ec09.d03c9","name":"","events":"all","x":1960,"y":960,"wires":[[]]},{"id":"f192ffb7.45367","type":"switch","z":"e177ec09.d03c9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1630,"y":1500,"wires":[["f8d6553a.6d5218","167ef922.4b45e7"],["d454edaa.f03ea","206617c4.a452e"]]},{"id":"f8d6553a.6d5218","type":"file in","z":"e177ec09.d03c9","name":"","filename":"/home/pi/.node-red/static/config/config.xml","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":1970,"y":1460,"wires":[["e281f5ac.c00ba8"]]},{"id":"e281f5ac.c00ba8","type":"xml","z":"e177ec09.d03c9","name":"","property":"payload","attr":"","chr":"","x":2230,"y":1460,"wires":[["cca202d1.3ebc2"]]},{"id":"cca202d1.3ebc2","type":"function","z":"e177ec09.d03c9","name":"","func":"msg.payload.boards.board[3].active[0] = 'true'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2400,"y":1460,"wires":[["466dd36b.874284"]]},{"id":"466dd36b.874284","type":"xml","z":"e177ec09.d03c9","name":"","property":"payload","attr":"","chr":"","x":2560,"y":1460,"wires":[["82e3d79a.7074a"]]},{"id":"82e3d79a.7074a","type":"file","z":"e177ec09.d03c9","name":"","filename":"/home/pi/.node-red/static/config/config.xml","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":2820,"y":1460,"wires":[[]]},{"id":"d454edaa.f03ea","type":"file in","z":"e177ec09.d03c9","name":"","filename":"/home/pi/.node-red/static/config/config.xml","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":1970,"y":1540,"wires":[["369b5a57.062d56"]]},{"id":"369b5a57.062d56","type":"xml","z":"e177ec09.d03c9","name":"","property":"payload","attr":"","chr":"","x":2230,"y":1540,"wires":[["8b2b9c7a.f1c018"]]},{"id":"8b2b9c7a.f1c018","type":"function","z":"e177ec09.d03c9","name":"","func":"msg.payload.boards.board[3].active[0] = 'false'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2400,"y":1540,"wires":[["411749d7.f80e1"]]},{"id":"411749d7.f80e1","type":"xml","z":"e177ec09.d03c9","name":"","property":"payload","attr":"","chr":"","x":2560,"y":1540,"wires":[["98820c77.db1758"]]},{"id":"98820c77.db1758","type":"file","z":"e177ec09.d03c9","name":"","filename":"/home/pi/.node-red/static/config/config.xml","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":2820,"y":1540,"wires":[[]]},{"id":"62e0648f.0cb48c","type":"ui_ui_control","z":"e177ec09.d03c9","name":"","events":"all","x":1980,"y":1600,"wires":[[]]},{"id":"206617c4.a452e","type":"change","z":"e177ec09.d03c9","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tabs\":{\"hide\":[\"Board_4\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1800,"y":1600,"wires":[["62e0648f.0cb48c"]]},{"id":"167ef922.4b45e7","type":"change","z":"e177ec09.d03c9","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tabs\":{\"show\":[\"Board_4\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1800,"y":1400,"wires":[["d7be59ab.62ed5"]]},{"id":"d7be59ab.62ed5","type":"ui_ui_control","z":"e177ec09.d03c9","name":"","events":"all","x":1980,"y":1400,"wires":[[]]},{"id":"4bddb288.0a6864","type":"switch","z":"e177ec09.d03c9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1630,"y":2080,"wires":[["1faf96a4.8bc1f9","eb67f67a.20af5"],["bcee3b71.1d4cf8","bf679ea9.975ea"]]},{"id":"1faf96a4.8bc1f9","type":"file in","z":"e177ec09.d03c9","name":"","filename":"/home/pi/.node-red/static/config/config.xml","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":1970,"y":2040,"wires":[["3555211e.569776"]]},{"id":"3555211e.569776","type":"xml","z":"e177ec09.d03c9","name":"","property":"payload","attr":"","chr":"","x":2230,"y":2040,"wires":[["c215f6ac.f478a8"]]},{"id":"c215f6ac.f478a8","type":"function","z":"e177ec09.d03c9","name":"","func":"msg.payload.boards.board[4].active[0] = 'true'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2400,"y":2040,"wires":[["210b3fc.59df94"]]},{"id":"210b3fc.59df94","type":"xml","z":"e177ec09.d03c9","name":"","property":"payload","attr":"","chr":"","x":2560,"y":2040,"wires":[["ee8bb13a.52717"]]},{"id":"ee8bb13a.52717","type":"file","z":"e177ec09.d03c9","name":"","filename":"/home/pi/.node-red/static/config/config.xml","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":2820,"y":2040,"wires":[[]]},{"id":"bcee3b71.1d4cf8","type":"file in","z":"e177ec09.d03c9","name":"","filename":"/home/pi/.node-red/static/config/config.xml","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":1970,"y":2120,"wires":[["dfec6327.e7e16"]]},{"id":"dfec6327.e7e16","type":"xml","z":"e177ec09.d03c9","name":"","property":"payload","attr":"","chr":"","x":2230,"y":2120,"wires":[["1221a720.89c2f9"]]},{"id":"1221a720.89c2f9","type":"function","z":"e177ec09.d03c9","name":"","func":"msg.payload.boards.board[4].active[0] = 'false'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2400,"y":2120,"wires":[["c716549f.64a"]]},{"id":"c716549f.64a","type":"xml","z":"e177ec09.d03c9","name":"","property":"payload","attr":"","chr":"","x":2560,"y":2120,"wires":[["2f01cdf.bad1ab2"]]},{"id":"2f01cdf.bad1ab2","type":"file","z":"e177ec09.d03c9","name":"","filename":"/home/pi/.node-red/static/config/config.xml","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":2820,"y":2120,"wires":[[]]},{"id":"ebb53d30.8ee648","type":"ui_ui_control","z":"e177ec09.d03c9","name":"","events":"all","x":1980,"y":2180,"wires":[[]]},{"id":"bf679ea9.975ea","type":"change","z":"e177ec09.d03c9","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tabs\":{\"hide\":[\"Board_5\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1800,"y":2180,"wires":[["ebb53d30.8ee648"]]},{"id":"eb67f67a.20af5","type":"change","z":"e177ec09.d03c9","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tabs\":{\"show\":[\"Board_5\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1800,"y":1980,"wires":[["a76e1c5f.170dd"]]},{"id":"a76e1c5f.170dd","type":"ui_ui_control","z":"e177ec09.d03c9","name":"","events":"all","x":1980,"y":1980,"wires":[[]]},{"id":"7a4bef8f.c63448","type":"switch","z":"e177ec09.d03c9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1590,"y":2560,"wires":[["94d83411.c9378","b085b7cb.6aab98"],["e3feb3ea.26862","e16eb0c3.fb1e58"]]},{"id":"94d83411.c9378","type":"file in","z":"e177ec09.d03c9","name":"","filename":"/home/pi/.node-red/static/config/config.xml","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":1930,"y":2520,"wires":[["628e6d9d.a934a4"]]},{"id":"628e6d9d.a934a4","type":"xml","z":"e177ec09.d03c9","name":"","property":"payload","attr":"","chr":"","x":2190,"y":2520,"wires":[["d9013641.91cf38"]]},{"id":"d9013641.91cf38","type":"function","z":"e177ec09.d03c9","name":"","func":"msg.payload.boards.board[5].active[0] = 'true'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2360,"y":2520,"wires":[["999390ba.1c1da"]]},{"id":"999390ba.1c1da","type":"xml","z":"e177ec09.d03c9","name":"","property":"payload","attr":"","chr":"","x":2520,"y":2520,"wires":[["409e1791.90264"]]},{"id":"409e1791.90264","type":"file","z":"e177ec09.d03c9","name":"","filename":"/home/pi/.node-red/static/config/config.xml","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":2780,"y":2520,"wires":[[]]},{"id":"e3feb3ea.26862","type":"file in","z":"e177ec09.d03c9","name":"","filename":"/home/pi/.node-red/static/config/config.xml","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":1930,"y":2600,"wires":[["6b9cfc43.9257ac"]]},{"id":"6b9cfc43.9257ac","type":"xml","z":"e177ec09.d03c9","name":"","property":"payload","attr":"","chr":"","x":2190,"y":2600,"wires":[["33f55fad.25f18"]]},{"id":"33f55fad.25f18","type":"function","z":"e177ec09.d03c9","name":"","func":"msg.payload.boards.board[5].active[0] = 'false'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2360,"y":2600,"wires":[["b2a98e16.673da"]]},{"id":"b2a98e16.673da","type":"xml","z":"e177ec09.d03c9","name":"","property":"payload","attr":"","chr":"","x":2520,"y":2600,"wires":[["b752f6c9.5d9038"]]},{"id":"b752f6c9.5d9038","type":"file","z":"e177ec09.d03c9","name":"","filename":"/home/pi/.node-red/static/config/config.xml","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":2780,"y":2600,"wires":[[]]},{"id":"3482ddf8.620712","type":"ui_ui_control","z":"e177ec09.d03c9","name":"","events":"all","x":1940,"y":2660,"wires":[[]]},{"id":"e16eb0c3.fb1e58","type":"change","z":"e177ec09.d03c9","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tabs\":{\"hide\":[\"Board_6\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1760,"y":2660,"wires":[["3482ddf8.620712"]]},{"id":"b085b7cb.6aab98","type":"change","z":"e177ec09.d03c9","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tabs\":{\"show\":[\"Board_6\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1760,"y":2460,"wires":[["e63486f7.46847"]]},{"id":"e63486f7.46847","type":"ui_ui_control","z":"e177ec09.d03c9","name":"","events":"all","x":1940,"y":2460,"wires":[[]]},{"id":"cf2644cf.f3b3b8","type":"ui_button","z":"97cf66d8.46eaa","name":"","group":"f816334f.f34788","order":2,"width":0,"height":0,"passthru":false,"label":"{{msg.label}}","tooltip":"","color":"","bgcolor":"{{background}}","className":"","icon":"","payload":"true","payloadType":"bool","topic":"true","topicType":"msg","x":430,"y":420,"wires":[["ab9a1f04.a5646","266280df.285dd"]]},{"id":"297f83b9.967fd4","type":"mqtt in","z":"97cf66d8.46eaa","name":"","topic":"board/2/soil_moisture","qos":"2","datatype":"auto","broker":"32d4c2cc.b888ae","nl":false,"rap":true,"rh":0,"x":200,"y":600,"wires":[["72a55976.12faa"]]},{"id":"72a55976.12faa","type":"ui_gauge","z":"97cf66d8.46eaa","name":"","group":"f816334f.f34788","order":4,"width":"0","height":"0","gtype":"gage","title":"לחות אדמה","label":"% אחוזים","format":"{{value}}","min":0,"max":"100","colors":["#00364a","#008cb4","#53d5fd"],"seg1":"","seg2":"","className":"","x":480,"y":600,"wires":[]},{"id":"df5660e5.fb27b","type":"mqtt in","z":"97cf66d8.46eaa","name":"","topic":"board/2/photoresistor","qos":"2","datatype":"auto","broker":"32d4c2cc.b888ae","nl":false,"rap":true,"rh":0,"x":210,"y":700,"wires":[["b4170778.6da058"]]},{"id":"b4170778.6da058","type":"ui_gauge","z":"97cf66d8.46eaa","name":"","group":"f816334f.f34788","order":5,"width":0,"height":0,"gtype":"gage","title":"עוצמת אור","label":"% אחוזים","format":"{{value}}","min":0,"max":"100","colors":["#444444","#f5ec00","#fff995"],"seg1":"","seg2":"","className":"","x":480,"y":700,"wires":[]},{"id":"3a645f25.d19e18","type":"mqtt in","z":"97cf66d8.46eaa","name":"","topic":"board/2/irigationOK","qos":"2","datatype":"auto","broker":"32d4c2cc.b888ae","nl":false,"rap":true,"rh":0,"x":190,"y":280,"wires":[["4a2aef9b.f30e58","98af3ef7.4b14","4a687f01.7414b8"]]},{"id":"4a2aef9b.f30e58","type":"change","z":"97cf66d8.46eaa","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"end","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":280,"wires":[["ab9a1f04.a5646","eff59655.78d5e"]]},{"id":"ab9a1f04.a5646","type":"mqtt out","z":"97cf66d8.46eaa","name":"","topic":"board/2/irigation","qos":"1","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"32d4c2cc.b888ae","x":640,"y":420,"wires":[]},{"id":"15d97050.d988c8","type":"ui_toast","z":"97cf66d8.46eaa","position":"top right","displayTime":"5","highlight":"green","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":true,"className":"","topic":"השקיה בוצעה","name":"השקיה בוצעה","x":790,"y":280,"wires":[]},{"id":"eff59655.78d5e","type":"template","z":"97cf66d8.46eaa","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img src=\"/imgs/irigation.jpeg\" alt=\"irigation done\" width=\"100\" height=\"100\">","output":"str","x":620,"y":280,"wires":[["15d97050.d988c8"]]},{"id":"a08dc445.67c208","type":"ui_slider","z":"97cf66d8.46eaa","name":"","label":"","tooltip":"","group":"f816334f.f34788","order":8,"width":0,"height":0,"passthru":false,"outs":"end","topic":"payload","topicType":"msg","min":"1","max":"120","step":"1","className":"","x":370,"y":920,"wires":[["976f2e73.1f2c5"]]},{"id":"976f2e73.1f2c5","type":"mqtt out","z":"97cf66d8.46eaa","name":"","topic":"board/2/sleep","qos":"1","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"32d4c2cc.b888ae","x":620,"y":920,"wires":[]},{"id":"522dfa53.362524","type":"mqtt in","z":"97cf66d8.46eaa","name":"","topic":"board/2/sleepOK","qos":"2","datatype":"auto","broker":"32d4c2cc.b888ae","nl":false,"rap":true,"rh":0,"x":180,"y":800,"wires":[["96620c35.b8eff","d791ef1f.8d2048"]]},{"id":"96620c35.b8eff","type":"change","z":"97cf66d8.46eaa","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":860,"wires":[["976f2e73.1f2c5"]]},{"id":"57a4f21a.a8342c","type":"ui_toast","z":"97cf66d8.46eaa","position":"top right","displayTime":"5","highlight":"green","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":true,"className":"","topic":"זמן שינה עודכן","name":"זמן שינה עודכן","x":530,"y":800,"wires":[]},{"id":"d791ef1f.8d2048","type":"template","z":"97cf66d8.46eaa","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"הזמן עודכן ל {{payload}}","output":"str","x":360,"y":800,"wires":[["57a4f21a.a8342c"]]},{"id":"84b89d58.385a3","type":"ui_text","z":"97cf66d8.46eaa","group":"f816334f.f34788","order":7,"width":0,"height":0,"name":"","label":"זמן שינת מעבד","format":"{{msg.payload}}","layout":"row-center","className":"","x":200,"y":1020,"wires":[]},{"id":"3a40e0cc.46d81","type":"mqtt in","z":"97cf66d8.46eaa","name":"","topic":"board/2/calibration","qos":"2","datatype":"auto","broker":"32d4c2cc.b888ae","nl":false,"rap":true,"rh":0,"x":150,"y":1220,"wires":[["15918b8.4e859f5"]]},{"id":"15918b8.4e859f5","type":"switch","z":"97cf66d8.46eaa","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"start","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":1220,"wires":[["f1999687.d5d1b8","c1ab3d25.bb6e38","b4fe311d.1fcdb","d6110729.19fb58"],[]]},{"id":"b35ec594.ffd7a8","type":"ui_toast","z":"97cf66d8.46eaa","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"בצע כיול","cancel":"בטל","raw":false,"className":"","topic":"זוהה מצב כיול","name":"זוהה מצב כיול","x":730,"y":1220,"wires":[]},{"id":"edfe005f.a29be","type":"mqtt out","z":"97cf66d8.46eaa","name":"","topic":"board/2/calibration","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"32d4c2cc.b888ae","x":1130,"y":1160,"wires":[]},{"id":"e6c33fc5.42331","type":"template","z":"97cf66d8.46eaa","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<p style=\"text-align: right;\">נקה את החיישן, יבש אותו ולחץ המשך","output":"str","x":620,"y":1660,"wires":[["ca48213b.822e28"]]},{"id":"ca48213b.822e28","type":"ui_toast","z":"97cf66d8.46eaa","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"המשך","cancel":"","raw":true,"className":"","topic":"כיול חיישן לחות אדמה","name":"חיישן לחות אדמה יבש","x":790,"y":1660,"wires":[["651abe8.a2c724"]]},{"id":"651abe8.a2c724","type":"change","z":"97cf66d8.46eaa","name":"בקש כיול יבש","rules":[{"t":"set","p":"payload","pt":"msg","to":"dry","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":1660,"wires":[["d011edc1.ab217"]]},{"id":"d011edc1.ab217","type":"mqtt out","z":"97cf66d8.46eaa","name":"","topic":"board/2/soil_moisture_calibration","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"32d4c2cc.b888ae","x":1340,"y":1720,"wires":[]},{"id":"3d5ad419.e4241c","type":"mqtt in","z":"97cf66d8.46eaa","name":"","topic":"board/2/soil_moisture_calibration","qos":"2","datatype":"auto","broker":"32d4c2cc.b888ae","nl":false,"rap":true,"rh":0,"x":210,"y":1780,"wires":[["665dde78.7df5e8"]]},{"id":"f8bad665.7bdc8","type":"change","z":"97cf66d8.46eaa","name":"בקש כיול רטוב","rules":[{"t":"set","p":"payload","pt":"msg","to":"wet","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":1780,"wires":[["d011edc1.ab217"]]},{"id":"bf10ad27.779ae","type":"template","z":"97cf66d8.46eaa","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"הכנס את החיישן לכוס מים ולחץ המשך","output":"str","x":620,"y":1780,"wires":[["17351ffc.8970c8"]]},{"id":"17351ffc.8970c8","type":"ui_toast","z":"97cf66d8.46eaa","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"המשך","cancel":"","raw":true,"className":"","topic":"כיול חיישן לחות אדמה","name":"חיישן לחות אדמה רטוב","x":800,"y":1780,"wires":[["f8bad665.7bdc8"]]},{"id":"665dde78.7df5e8","type":"switch","z":"97cf66d8.46eaa","name":"","property":"payload","propertyType":"msg","rules":[{"t":"else"},{"t":"eq","v":"dryOK","vt":"str"},{"t":"eq","v":"wetOK","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":450,"y":1780,"wires":[[],["bf10ad27.779ae"],["65d8535a.2a85dc","7fef3996.6ea75"]]},{"id":"4e389495.ee7114","type":"template","z":"97cf66d8.46eaa","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"כיול חיישן לחות אדמה בוצע בהצלחה","output":"str","x":860,"y":1840,"wires":[["a9ce7b97.58ebf8"]]},{"id":"a9ce7b97.58ebf8","type":"ui_toast","z":"97cf66d8.46eaa","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":true,"className":"","topic":"","name":"","x":1030,"y":1840,"wires":[]},{"id":"a147ec9e.0fd0e8","type":"ui_button","z":"97cf66d8.46eaa","name":"בצע כיולים","group":"e811ca05.9f6218","order":1,"width":"6","height":1,"passthru":false,"label":"{{msg.label}}","tooltip":"","color":"","bgcolor":"{{background}}","className":"","icon":"","payload":"end","payloadType":"str","topic":"topic","topicType":"msg","x":600,"y":1360,"wires":[["c319eb4.3616b18"]]},{"id":"ae8aceb5.5b64b8","type":"ui_button","z":"97cf66d8.46eaa","name":"","group":"e811ca05.9f6218","order":5,"width":0,"height":0,"passthru":false,"label":"כיול חיישן לחות אדמה","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"soil_moisture_calibration","payloadType":"str","topic":"topic","topicType":"msg","x":310,"y":1660,"wires":[["e6c33fc5.42331","f7e5de2b.cc51a8"]]},{"id":"7f23260e.b45568","type":"inject","z":"97cf66d8.46eaa","name":"","props":[{"p":"label","v":"השקיה","vt":"str"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payloadType":"str","x":270,"y":420,"wires":[["cf2644cf.f3b3b8"]]},{"id":"266280df.285dd","type":"change","z":"97cf66d8.46eaa","name":"פקודה נשלחה","rules":[{"t":"set","p":"background","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"label","pt":"msg","to":"פקודת השקיה נשלחה","tot":"str"},{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":500,"wires":[["cf2644cf.f3b3b8"]]},{"id":"98af3ef7.4b14","type":"change","z":"97cf66d8.46eaa","name":"פקודה בוצעה","rules":[{"t":"set","p":"background","pt":"msg","to":"green","tot":"str"},{"t":"set","p":"label","pt":"msg","to":"הפקודה בוצעה","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":360,"wires":[["cf2644cf.f3b3b8","26414a2c.137c6e"]]},{"id":"26414a2c.137c6e","type":"delay","z":"97cf66d8.46eaa","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":610,"y":360,"wires":[["22ffb86c.95ed4"]]},{"id":"22ffb86c.95ed4","type":"change","z":"97cf66d8.46eaa","name":"החזרת כפתור למצב התחלתי","rules":[{"t":"set","p":"background","pt":"msg","to":"default","tot":"str"},{"t":"set","p":"label","pt":"msg","to":"השקיה","tot":"str"},{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":360,"wires":[["cf2644cf.f3b3b8"]]},{"id":"f7e5de2b.cc51a8","type":"link out","z":"97cf66d8.46eaa","name":"disable buttons","links":["ba4a7be8.408cd"],"x":475,"y":1600,"wires":[]},{"id":"ba4a7be8.408cd","type":"link in","z":"97cf66d8.46eaa","name":"","links":["f7e5de2b.cc51a8","2aa12071.09f2c8","85bdf362.b48468","8c49f8ba.c5d67","d5caa950.4a86e8"],"x":1875,"y":1420,"wires":[["23750dd2.b00552"]]},{"id":"982cc233.20daa","type":"link in","z":"97cf66d8.46eaa","name":"","links":["c81dd70c.f59b4","4fcf4c50.c467bc"],"x":155,"y":1660,"wires":[["ae8aceb5.5b64b8"]]},{"id":"c81dd70c.f59b4","type":"link out","z":"97cf66d8.46eaa","name":"","links":["982cc233.20daa","975b905b.ea6e88","3ed9d4af.02f494"],"x":2165,"y":1420,"wires":[]},{"id":"23750dd2.b00552","type":"change","z":"97cf66d8.46eaa","name":"ביטול כפתורים","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2010,"y":1420,"wires":[["c81dd70c.f59b4"]]},{"id":"7b62fe49.efdfe","type":"link in","z":"97cf66d8.46eaa","name":"","links":["7fef3996.6ea75","c1ab3d25.bb6e38","42243b18.5dd54c"],"x":1875,"y":1500,"wires":[["fa21e051.3ca12"]]},{"id":"4fcf4c50.c467bc","type":"link out","z":"97cf66d8.46eaa","name":"","links":["982cc233.20daa","975b905b.ea6e88","3ed9d4af.02f494"],"x":2165,"y":1500,"wires":[]},{"id":"fa21e051.3ca12","type":"change","z":"97cf66d8.46eaa","name":"החזרת כפתורים","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2020,"y":1500,"wires":[["4fcf4c50.c467bc"]]},{"id":"7fef3996.6ea75","type":"link out","z":"97cf66d8.46eaa","name":"","links":["7b62fe49.efdfe"],"x":595,"y":1880,"wires":[]},{"id":"ad365591.9d17d","type":"mqtt in","z":"97cf66d8.46eaa","name":"","topic":"board/2/comOK","qos":"2","datatype":"auto","broker":"32d4c2cc.b888ae","nl":false,"rap":true,"rh":0,"x":160,"y":140,"wires":[["12b8aca6.6d497b","4e0695b7.47a3cc"]]},{"id":"78f46b3d.bc477c","type":"ui_led","z":"97cf66d8.46eaa","order":1,"group":"f816334f.f34788","width":0,"height":0,"label":"מצב יחידת קצה","labelPlacement":"right","labelAlignment":"right","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":710,"y":140,"wires":[]},{"id":"12b8aca6.6d497b","type":"change","z":"97cf66d8.46eaa","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":80,"wires":[["78f46b3d.bc477c"]]},{"id":"3bd0098e.37f7c6","type":"function","z":"97cf66d8.46eaa","name":"","func":"var timer = context.timer || null;\n\n// If existig timer then clear out old timeout\nif (timer !== null) {\n    clearTimeout(timer);\n}\n\n// set up new timeout using msg.timeout (S) as the time\nif (msg.timeout) {   // but only if msg.timeout exists\n    timer = setTimeout(function() {\n        node.send({payload:false});\n    }, msg.timeout * 1000);\n}\n// save the new timeout and return nothing.\ncontext.timer = timer;\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":180,"wires":[["78f46b3d.bc477c"]]},{"id":"4e0695b7.47a3cc","type":"change","z":"97cf66d8.46eaa","name":"","rules":[{"t":"set","p":"timeout","pt":"msg","to":"timeout","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":180,"wires":[["3bd0098e.37f7c6"]]},{"id":"e4882a9.8c4e458","type":"function","z":"97cf66d8.46eaa","name":"","func":"var time = msg.payload\ntime = time * 2\nmsg.payload = time\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":1000,"wires":[["941515a7.8ab3c"]]},{"id":"941515a7.8ab3c","type":"change","z":"97cf66d8.46eaa","name":"","rules":[{"t":"set","p":"timeout","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":1000,"wires":[[]]},{"id":"d400f6c1.8a01c8","type":"mqtt in","z":"97cf66d8.46eaa","name":"","topic":"board/2/sleepTime","qos":"2","datatype":"auto","broker":"32d4c2cc.b888ae","nl":false,"rap":true,"rh":0,"x":200,"y":920,"wires":[["a08dc445.67c208","e4882a9.8c4e458","d67db6fb.32295"]]},{"id":"8d3ae597.7d1f3","type":"inject","z":"97cf66d8.46eaa","name":"אתחול","props":[{"p":"label","v":"בצע כיול","vt":"str"},{"p":"background","v":"default","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":390,"y":1360,"wires":[["a147ec9e.0fd0e8"]]},{"id":"199164bf.e134db","type":"inject","z":"97cf66d8.46eaa","name":"אתחול","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1930,"y":1340,"wires":[["85bdf362.b48468"]]},{"id":"85bdf362.b48468","type":"link out","z":"97cf66d8.46eaa","name":"","links":["ba4a7be8.408cd"],"x":2055,"y":1340,"wires":[]},{"id":"fe16ac75.58d578","type":"ui_toast","z":"97cf66d8.46eaa","position":"top right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"לחץ על כפתור הכיולים בעמדת הקצה כדי להתחיל כיול","name":"הוראות התחלת כיול","x":1270,"y":1400,"wires":[]},{"id":"2925362e.9d9772","type":"change","z":"97cf66d8.46eaa","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":" ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":1400,"wires":[["fe16ac75.58d578"]]},{"id":"f1999687.d5d1b8","type":"change","z":"97cf66d8.46eaa","name":"הפוך כפתור ל״צא ממצב כיול״","rules":[{"t":"set","p":"background","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"label","pt":"msg","to":"צא ממצב כיול","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":1300,"wires":[["a147ec9e.0fd0e8"]]},{"id":"c1ab3d25.bb6e38","type":"link out","z":"97cf66d8.46eaa","name":"","links":["7b62fe49.efdfe"],"x":475,"y":1100,"wires":[]},{"id":"c319eb4.3616b18","type":"switch","z":"97cf66d8.46eaa","name":"","property":"calibration","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":830,"y":1360,"wires":[["edfe005f.a29be","9cccf24d.fbebf8","8c49f8ba.c5d67","9b36eaf.8893c98"],["2925362e.9d9772"]]},{"id":"b4fe311d.1fcdb","type":"change","z":"97cf66d8.46eaa","name":"","rules":[{"t":"set","p":"calibration","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1160,"wires":[[]]},{"id":"9b36eaf.8893c98","type":"change","z":"97cf66d8.46eaa","name":"","rules":[{"t":"set","p":"calibration","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":1340,"wires":[[]]},{"id":"f8c62765.87c9a8","type":"inject","z":"97cf66d8.46eaa","name":"אתחול","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1050,"y":1280,"wires":[["9b36eaf.8893c98"]]},{"id":"9cccf24d.fbebf8","type":"change","z":"97cf66d8.46eaa","name":"החזר כפתור למצב התחלתי","rules":[{"t":"set","p":"background","pt":"msg","to":"default","tot":"str"},{"t":"set","p":"label","pt":"msg","to":"בצע כיול","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1420,"wires":[["a147ec9e.0fd0e8"]]},{"id":"8c49f8ba.c5d67","type":"link out","z":"97cf66d8.46eaa","name":"","links":["ba4a7be8.408cd"],"x":975,"y":1080,"wires":[]},{"id":"d6110729.19fb58","type":"change","z":"97cf66d8.46eaa","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":" ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":1220,"wires":[["b35ec594.ffd7a8"]]},{"id":"65d8535a.2a85dc","type":"change","z":"97cf66d8.46eaa","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":" ","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":" ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":1840,"wires":[["4e389495.ee7114"]]},{"id":"3d06190f.66f3b6","type":"template","z":"97cf66d8.46eaa","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<p style=\"text-align: right;\">כסה את החיישן כך שיהיה בחשיכה מוחלטת, לחץ המשך</p>","output":"str","x":580,"y":2260,"wires":[["2b0dc59e.512882"]]},{"id":"2b0dc59e.512882","type":"ui_toast","z":"97cf66d8.46eaa","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"המשך","cancel":"","raw":true,"className":"","topic":"כיול חיישן אור","name":"כיול חשוך","x":740,"y":2260,"wires":[["6f7f9d88.5f16c4"]]},{"id":"6f7f9d88.5f16c4","type":"change","z":"97cf66d8.46eaa","name":"בקש כיול חושך","rules":[{"t":"set","p":"payload","pt":"msg","to":"dark","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":2260,"wires":[["7cd948b2.cb0c68"]]},{"id":"7cd948b2.cb0c68","type":"mqtt out","z":"97cf66d8.46eaa","name":"","topic":"board/2/light_calibration","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"32d4c2cc.b888ae","x":1270,"y":2320,"wires":[]},{"id":"4ea75619.86e5f","type":"mqtt in","z":"97cf66d8.46eaa","name":"","topic":"board/2/light_calibration","qos":"2","datatype":"auto","broker":"32d4c2cc.b888ae","nl":false,"rap":true,"rh":0,"x":150,"y":2380,"wires":[["ff27e5f4.cda928"]]},{"id":"6be87a42.1f598c","type":"change","z":"97cf66d8.46eaa","name":"בקש כיול מואר","rules":[{"t":"set","p":"payload","pt":"msg","to":"light","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":2380,"wires":[["7cd948b2.cb0c68"]]},{"id":"2933664d.3dd28a","type":"template","z":"97cf66d8.46eaa","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"חשוף את החיישן לתאורה חזקה ולחץ המשך","output":"str","x":580,"y":2380,"wires":[["dd5d2c15.2a714"]]},{"id":"dd5d2c15.2a714","type":"ui_toast","z":"97cf66d8.46eaa","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"המשך","cancel":"","raw":true,"className":"","topic":"כיול חיישן אור","name":"כיול מואר","x":760,"y":2380,"wires":[["6be87a42.1f598c"]]},{"id":"ff27e5f4.cda928","type":"switch","z":"97cf66d8.46eaa","name":"","property":"payload","propertyType":"msg","rules":[{"t":"else"},{"t":"eq","v":"darkOK","vt":"str"},{"t":"eq","v":"lightOK","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":410,"y":2380,"wires":[[],["2933664d.3dd28a"],["2938045c.6e4224","42243b18.5dd54c"]]},{"id":"2b39623f.fe5bb6","type":"template","z":"97cf66d8.46eaa","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"כיול חיישן אור בוצע בהצלחה","output":"str","x":820,"y":2440,"wires":[["2e4229e8.bf91a6"]]},{"id":"2e4229e8.bf91a6","type":"ui_toast","z":"97cf66d8.46eaa","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":true,"className":"","topic":"","name":"","x":990,"y":2440,"wires":[]},{"id":"58982183.f349f8","type":"ui_button","z":"97cf66d8.46eaa","name":"","group":"e811ca05.9f6218","order":5,"width":0,"height":0,"passthru":false,"label":"כיול חיישן אור","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"soil_moisture_calibration","payloadType":"str","topic":"topic","topicType":"msg","x":250,"y":2260,"wires":[["3d06190f.66f3b6","d5caa950.4a86e8"]]},{"id":"d5caa950.4a86e8","type":"link out","z":"97cf66d8.46eaa","name":"disable buttons","links":["ba4a7be8.408cd"],"x":435,"y":2200,"wires":[]},{"id":"3ed9d4af.02f494","type":"link in","z":"97cf66d8.46eaa","name":"","links":["c81dd70c.f59b4","4fcf4c50.c467bc"],"x":115,"y":2260,"wires":[["58982183.f349f8"]]},{"id":"42243b18.5dd54c","type":"link out","z":"97cf66d8.46eaa","name":"","links":["7b62fe49.efdfe"],"x":555,"y":2480,"wires":[]},{"id":"2938045c.6e4224","type":"change","z":"97cf66d8.46eaa","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":" ","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":" ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":2440,"wires":[["2b39623f.fe5bb6"]]},{"id":"ad32216a.b5e9e","type":"mqtt in","z":"3c179cca.2a4534","name":"","topic":"board/1/battery_percentage","qos":"2","datatype":"auto","broker":"32d4c2cc.b888ae","nl":false,"rap":true,"rh":0,"x":280,"y":860,"wires":[["379b662f.8b1d2a"]]},{"id":"379b662f.8b1d2a","type":"ui_gauge","z":"3c179cca.2a4534","name":"","group":"2520a5c9.3a695a","order":4,"width":0,"height":0,"gtype":"gage","title":"סוללה","label":"% אחוזים","format":"{{value}}","min":0,"max":"100","colors":["#e32400","#e6e600","#77bb41"],"seg1":"","seg2":"","className":"","x":510,"y":860,"wires":[]},{"id":"4a687f01.7414b8","type":"debug","z":"97cf66d8.46eaa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":420,"y":240,"wires":[]},{"id":"d67db6fb.32295","type":"debug","z":"97cf66d8.46eaa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":920,"y":780,"wires":[]},{"id":"9d02faad.403ca","type":"ui_gauge","z":"3c179cca.2a4534","name":"","group":"2520a5c9.3a695a","order":9,"width":0,"height":0,"gtype":"gage","title":"טמפרטורה","label":"C מעלות","format":"{{value}}","min":0,"max":"80","colors":["#00a3d7","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":500,"y":1180,"wires":[]},{"id":"f0dec9f3.eddbc8","type":"mqtt in","z":"3c179cca.2a4534","name":"","topic":"board/1/temprature","qos":"2","datatype":"auto","broker":"32d4c2cc.b888ae","nl":false,"rap":true,"rh":0,"x":250,"y":1180,"wires":[["9d02faad.403ca"]]},{"id":"796dcf83.d1b2c","type":"mqtt in","z":"97cf66d8.46eaa","name":"","topic":"board/2/battery_percentage","qos":"2","datatype":"auto","broker":"32d4c2cc.b888ae","nl":false,"rap":true,"rh":0,"x":160,"y":2620,"wires":[["40fd2290.f65034"]]},{"id":"40fd2290.f65034","type":"ui_gauge","z":"97cf66d8.46eaa","name":"","group":"f816334f.f34788","order":3,"width":0,"height":0,"gtype":"gage","title":"סוללה","label":"% אחוזים","format":"{{value}}","min":0,"max":"100","colors":["#e32400","#e6e600","#77bb41"],"seg1":"","seg2":"","className":"","x":390,"y":2620,"wires":[]},{"id":"78d53b78.5487c4","type":"ui_gauge","z":"97cf66d8.46eaa","name":"","group":"f816334f.f34788","order":6,"width":0,"height":0,"gtype":"gage","title":"טמפרטורה","label":"units","format":"{{value}}","min":0,"max":"80","colors":["#00a3d7","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1170,"y":2660,"wires":[]},{"id":"170cac8.ff9cd53","type":"mqtt in","z":"97cf66d8.46eaa","name":"","topic":"board/2/temprature","qos":"2","datatype":"auto","broker":"32d4c2cc.b888ae","nl":false,"rap":true,"rh":0,"x":920,"y":2660,"wires":[["78d53b78.5487c4"]]},{"id":"e5596492.45e23","type":"mqtt in","z":"3c179cca.2a4534","name":"","topic":"board/1/water_level","qos":"2","datatype":"auto","broker":"32d4c2cc.b888ae","nl":false,"rap":true,"rh":0,"x":230,"y":320,"wires":[["c28c0dd.b0ea2f"]]},{"id":"f166ffee.e1bea8","type":"ui_led","z":"3c179cca.2a4534","order":2,"group":"2520a5c9.3a695a","width":0,"height":0,"label":"מים במיכל השקיה","labelPlacement":"right","labelAlignment":"right","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":670,"y":320,"wires":[]},{"id":"c28c0dd.b0ea2f","type":"change","z":"3c179cca.2a4534","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"low","fromt":"str","to":"false","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"high","fromt":"str","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":320,"wires":[["f166ffee.e1bea8"]]},{"id":"d17e28ff.1e3e7","type":"switch","z":"3c179cca.2a4534","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":440,"y":460,"wires":[["a4f594d.1094468"],["6d2895c.ebd3eec"]]},{"id":"e7d4ec4e.934d48","type":"ui_toast","z":"3c179cca.2a4534","position":"top right","displayTime":"5","highlight":"red","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":true,"className":"","topic":"השקיה לא בוצעה","name":"השקיה לא בוצעה","x":820,"y":500,"wires":[]},{"id":"6d2895c.ebd3eec","type":"template","z":"3c179cca.2a4534","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"השקיה לא בוצעה עקב חוסר מים במיכל ההשקיה, אנא מלא מים במיכל","output":"str","x":640,"y":500,"wires":[["e7d4ec4e.934d48"]]}]